@keyframes rightToLeft {
    0% {
        transform: translateX(5rem);
        opacity: 0;
    }
    90% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-5rem);
        opacity: 0;
    }
    90% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }
    90% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}